* text=auto

*.swift text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.mov binary
*.mp4 binary
